[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-mongoengine = "*"
bcrypt = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.7"
