<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block links%}
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    {% endblock %}
    <title>Online IDE</title>
  </head>
  <body style="background:#eeeeee">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Online IDE</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if not logged_in%}
          <li>
            <a class="navbar-brand" href="/login"
              ><span class="glyphicon glyphicon-user"></span>Login</a
            >
          </li>
          <li>
            <a class="navbar-brand" href="/signup"
              ><span class="glyphicon glyphicon-log-in"></span>Sign Up</a
            >
          </li>
          {%else%}
          <li>
            <a class="navbar-brand" href="/user/logout"
              ><span class="glyphicon glyphicon-log-in"></span>Log out</a
            >
          </li>
          {%endif%}
        </ul>
      </div>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jQuery.js"></script> -->
  </body>
</html>