{% extends "base.html" %} {% block content %}
<div class="container">
	<br/>
	<!-- Start of Array Element -->
	<div class="card" style="box-shadow:0 5px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19) !important;">
		<div  class="card-header">
			<h5>Problem Statement Name</h5>
		    <h6 class="card-subtitle mb-2 text-muted">By User_Name</h6>
		</div>
		<div class="card-body">
		    <p class="card-text">The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue riverThe lazy fox jumps over the blue river.</p>
		    <hr width="80%" align="left" style="color:grey">
		    <a href="#" class="card-link btn btn-md btn-success">Solve!</a>
		    <a href="#" class="card-link btn btn-md btn-primary">Solution</a>
		</div>
	</div>
	<br/>
	<!-- End -->
<div class="card" style="box-shadow:0 5px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19) !important;">
		<div  class="card-header">
			<h5>Problem Statement Name</h5>
		    <h6 class="card-subtitle mb-2 text-muted">By User_Name</h6>
		</div>
		<div class="card-body">
		    <p class="card-text">The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue riverThe lazy fox jumps over the blue river.</p>
		    <hr width="80%" align="left" style="color:grey">
		    <a href="#" class="card-link btn btn-md btn-success">Solve!</a>
		    <a href="#" class="card-link btn btn-md btn-primary">Solution</a>
		</div>
	</div>
	<br/><div class="card" style="box-shadow:0 5px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19) !important;">
		<div  class="card-header">
			<h5>Problem Statement Name</h5>
		    <h6 class="card-subtitle mb-2 text-muted">By User_Name</h6>
		</div>
		<div class="card-body">
		    <p class="card-text">The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue river.The lazy fox jumps over the blue riverThe lazy fox jumps over the blue river.</p>
		    <hr width="80%" align="left" style="color:grey">
		    <a href="#" class="card-link btn btn-md btn-success">Solve!</a>
		    <a href="#" class="card-link btn btn-md btn-primary">Solution</a>
		</div>
	</div>
	<br/>
</div>
{% endblock %}	