{% extends "navbar.html" %} {% block content %}
<div class="container mt-5  " style="margin: auto;">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Find Your Friends"
      aria-label="Find Your Friends"
      aria-describedby="basic-addon2"
    />
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2"
        ><i class="fa fa-search" aria-hidden="true"></i
      ></span>
    </div>
  </div>
  <div id="res" class="container">
    <div id="results container-fluid"></div>
  </div>
</div>
<script>
  $('#name').keyup(() => {
    let name = $('#name')
      .val()
      .trim();
    if (name === '') {
      $('#results').remove();
      return;
    }
    $.ajax({
      type: 'GET',
      url: '/api/find/' + name,
      xhrFields: {
        withCredentials: true,
      },
      headers: {
        'X-CSRF-TOKEN': Cookies.get('csrf_access_token'),
      },
      success: function(data) {
        $('#results').remove();
        let elem = '<div id="results container-fluid">';
        Array.from(data.users).forEach(user => {
          elem += `<div id=${user.username} class="bg-white p-2 rounded m-2">
        <i
          class="fa fa-user mr-2"
          style="font-size: 2rem;"
          aria-hidden="true"
        ></i>
        ${user.username}
        <button class="btn btn-success float-right" onclick="handle_click(\'${user.username}\')">
          Follow
        </button>
      </div>`;
        });
        elem += '</div>';
        $('#res').html(elem);
      },
      error: function(e) {
        console.log(e);
      },
    });
  });
  function handle_click(name) {
    $.ajax({
      type: 'GET',
      url: '/api/follow/' + name,
      xhrFields: {
        withCredentials: true,
      },
      headers: {
        'X-CSRF-TOKEN': Cookies.get('csrf_access_token'),
      },
      success: function(data) {
        $(`#${name}`).remove();
      },
      error: function(e) {
        console.log(e);
      },
    });
  }
</script>
{% endblock %}
