{% extends "navbar.html" %} {%block links%} {{super()}}
<!-- Font Icon -->
<link
  rel="stylesheet"
  href="{{url_for('static', filename='fonts/material-icon/css/material-design-iconic-font.min.css' )}}"
/>

<!-- Main css -->
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/style.css')}}"
/>{%endblock%} {% block content %}

<br />
<!-- Sing in  Form -->

<div class="container bg-danger">
  <div
    class="m-2 text-white"
    id="err"
    style="font-size:x-large;text-align: center;"
  >
    {% if error %} {{error}} {% endif %}
  </div>
</div>

<br /><br />
<div class="container">
  <div class="signin-content">
    <div class="signin-image">
      <figure>
        <img src="/images/signin-image.jpg" alt="sing up image" />
      </figure>
      <a href="/signup" class="signup-image-link">Create an account</a>
    </div>

    <div class="signin-form">
      <h2 class="form-title">Log in</h2>

      <div class="form-group">
        <label for="username"
          ><i class="zmdi zmdi-account material-icons-name"></i
        ></label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          required
        />
      </div>
      <div class="form-group">
        <label for="password"><i class="zmdi zmdi-lock"></i></label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
      </div>
      <div class="form-group form-button">
        <button class="btn form-submit" value="Log in" onclick="submit()">
          Log In
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<script>
  function submit() {
    $.ajax({
      type: 'POST',
      url: '/user/login',
      data: { username: $('#username').val(), password: $('#password').val() },
    }).done(data => {
      if (data.success) {
        $.ajaxSetup({
          beforeSend: function(xhr) {
            xhr.setRequestHeader('Authorization', 'Bearer ' + data.token);
          },
        });
        window.location.href = data.link;
      } else {
        $('#err').html(data.err);
      }
    });

    return false;
  }
</script>
{% endblock %}
