{% extends "navbar.html" %} {% block content %}
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="{{url_for('static', filename='codemirror.css')}}"
/>
<script src="{{url_for('static', filename='codemirror.js')}}"></script>
<script src="{{url_for('static', filename='addon/edit/matchbrackets.js')}}"></script>
<style>
  form,
  input,
  select,
  textarea,
  p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
  }
  h1.overlay {
    position: absolute;
    margin: 0;
    font-size: 3em;
    color: #fff;
    z-index: 2;
  }
  .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
  }
  form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 20px 0 #095484;
  }
  div.ide {
    border: 1px solid #ccc;
  }
  .banner {
    position: relative;
    height: 300px;
    width: auto;
    background-image: url('/laptop.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  input,
  textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input {
    width: calc(100% - 10px);
    padding: 5px;
  }
  textarea {
    width: calc(100% - 12px);
    padding: 5px;
  }
  label {
    font-weight: bold;
  }
  span.required {
    margin-left: 0;
    color: red;
  }
  button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    .banner {
      height: 200px;
    }
  }
</style>
<div class="container testbox">
  <form action="/">
    <div class="banner">
      <h1 class="overlay">{{post.title}}</h1>
    </div>
    <hr align="center" style="background-color: #000;width: 80%" />
    <br/>
    <div class="alert alert-primary" role="alert">
      <h4 class="alert-heading">{{post.title}}</h4>
      <h6 class="alert-heading text-muted">{{post.originalPostBy}}</h6>
      <p><b>{{post.description}}</b></p>
      <hr>
      <p class="mb-0">Select the language of your choice and start writing your code below to test the output. You can submit the solution when you know your output is correct.</p>
    </div>
    <h4>
      <label for="code">Your Solution<span class="required">*</span></label>
    </h4>
    <div class="form-group">
      <label for="lang">Language</label>
      <select class="form-control" id="lang" name="lang">
        {% for lang in langs.keys() %}
        <option>{{lang}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="ide">
      <textarea
        class="form-control code"
        style="font-family: Consolas;"
        id="code"
        name="code"
        required
      ></textarea>
    </div>
    <br />
    <label for="testcases">Test Case</label>
    <div
      class="m-2 text-danger"
      id="err"
      style="font-size:x-large;text-align: center;"
    ></div>
    <div
      class="m-2 text-success"
      id="success"
      style="font-size:x-large;text-align: center;"
    ></div>
    <div>
      <ul class="nav nav-tabs" id="test_case" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="TC1"
            data-toggle="tab"
            href="#TC1D"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Test Case</a
          >
        </li>
      </ul>
    </div>
      <div class="tab-content" id="TCTA">
        <div
          class="tab-pane fade show active"
          id="TC1D"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <textarea disabled="true" class="form-control tc" id="TCTA1" rows="3">{{post.testcases[0]}}</textarea>
        </div>
      </div>
      <div>
        <div>
          <button
          type="submit"
          onclick="handle_test()"
          class="btn btn-primary"
          style="width: auto"
            >
            Test Solution
          </button>
        </div><br/>
        <label for="output">Output:</label>
        <textarea disabled="true" class="form-control tc" id="output" rows="4">Output here</textarea>
      </div>
      <div align="center">
      <button
        type="submit"
        onclick="handle_submit()"
        class="btn btn-lg btn-success"
        style="width: auto"
      >
        Submit Solution
      </button>
    </div>
    </form> 
  </div>
  <script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
      lineNumbers: true,
      mode: 'text/html',
      matchBrackets: true,
    });
  </script>
  <script>
    function handle_submit() {
      code = editor.getValue().trim()
      if(code === '' ){
        $('#err').html('Please Write Some Code To Test...');
        return
      }
      $.ajax({
        type: 'POST',
        url: '{{"/submit/" ~ post._id}}',
        xhrFields: {
          withCredentials: true,
        },
        headers: {
          'X-CSRF-TOKEN': Cookies.get('csrf_access_token'),
        },
        data: {
          lang: $('#lang').val(),
          code: editor.getValue(),
        },
        success: function(data) {
          if(data.redirect){
            window.location.replace(data.redirect);  
          }
          if (!data.success) {
            $('#output').html(data.err);
            console.log(data)
            return;
          }
          
          console.log(data)
          $('#success').html('Success!!!');
          setTimeout(()=>{window.location.replace(data.link);},500) 
        },
        error: function(e) {
          console.log(e);
        },
      });
    }
    function handle_test() {
      code = editor.getValue().trim()
      if(code === '' ){
        $('#err').html('Please Write Some Code To Test...');
        return
      }
      $.ajax({
        type: 'POST',
        url: '{{"/api/test/" ~ post._id}}',
        xhrFields: {
          withCredentials: true,
        },
        headers: {
          'X-CSRF-TOKEN': Cookies.get('csrf_access_token'),
        },
        data: {
          lang: $('#lang').val(),
          code: editor.getValue(),
        },
        success: function(data) {
          console.log(data)
          // if(data.redirect){
          //   window.location.replace(data.redirect);  
          // }
          if (!data.success) {
            $('#output').html(data.err);
            return;
          }
          
          $('#success').html('Success!!!');
        },
        error: function(e) {
          console.log(e);
        },
      });
    }
  </script>
</div>
{% endblock %}